/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.page_homeWrap___FmQb {
  max-width: 700px;
  padding: 8px;
}


/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/Components/Post/post.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.post_postWrap__VrB4M {
    background: var(--foreground-color);
    padding: 16px;
    margin-top: 16px;
}
.post_titleWrap__PrvII {
    display: flex;
}

.post_titleTextWrap__Q1_p_ {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}
.post_postTextWrap__kqdGZ {
    display: flex;
    justify-content: flex-start;
    padding: 8px;
    background: var(--background-color);
    min-height: 78px;
    margin-top: 16px;
}
.post_postIcon__AFGJ1 {
    height: 44px;
    min-width: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--foreground-color);
    margin-right: 8px;
}
.post_commentWrap__1RY6Z {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post_comments__DXuF_ {
    display: flex;
    align-items: center;
}


/*!*************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/Components/PrimaryButton/primarybutton.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************/
.primarybutton_buttonCss__p___f {
    min-width: 143px;
    min-height: 43px;
    border-radius: 4px;
    background: #4A96FF;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
}
.primarybutton_fullWidth__AWOpX {
    width: 100%;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/Components/InputField/inputfield.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.inputfield_inputContainer__r8cVf {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  
  .inputfield_labelWrapper__opidQ {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .inputfield_label__EVIpz {
    color: var(--text-primary);
    font-size: 14px;
  }
  
  .inputfield_link__rFxrE {
    color: var(--text-primary);
    font-size: 14px;
    text-decoration: none;
  }
  
  .inputfield_inputWrapper__cqu2l {
    position: relative;
  }
  
  .inputfield_input__773on {
    background-color: var(--foreground-color);
    border: 1px solid var(--text-secondary);
    color: #e0e0e0;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    width: 100%;
    min-height: 43px;
  }
  
  .inputfield_input__773on::placeholder {
    color: var(--text-secondary);
  }
  
  .inputfield_toggle__94FMC {
    background: none;
    border: none;
    color: var(--text-secondary);
    font-size: 16px;
    position: absolute;
    right: 10px;
    margin-top: 10px;
    cursor: pointer;
    outline: none;
  }
  .inputfield_errorInfo__pvjbd {
    margin-top: 4px;
    font-size: 14px;
    font-weight: 500;
    color: red;
  }
/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/Components/LoginForm/loginform.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/


.loginform_headerWrap__6vSn2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/Components/Modal/modal.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.modal_modal__kny_E {
    z-index: 1;
    background: var(--foreground-color);
    border-radius: 5px;
    position: relative;
    animation: modal_animate__pFNN1 0.3s;
    padding: 32px;
    min-width: 35%;
    max-width: 40%;
    border: 1px solid var(--text-secondary);
}
.modal_closeModal__QrVJh {
    position: absolute;
    top: 16px;
    right: 8px;
    padding: 8px 11px;
    background: #131319;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 32px;
    width: 32px;
    justify-content: center;
    align-items: center;
}
.modal_container__SxRWb {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(34, 33, 33, 0.7);
}

@keyframes modal_animate__pFNN1 {
    from {
        transform: scale(0.5);
    }

    to {
        transform: scale(1);
    }
}

@media (max-width: 768px) {
    .modal_modal__kny_E {
        max-width: 40%;
    }
}

@media (min-width: 500px) and (max-width: 768px) {
    .modal_modal__kny_E {
        max-width: 60%;
    }
}

/* Mobile screens (480px and below) */
@media (max-width: 480px) {
    .modal_modal__kny_E {
        max-width: 90%;
    }
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/Components/RegisterForm/register.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.register_headerWrap__ESvuC {
    display: flex;
    flex-direction: column;
    align-items: center;
}
