/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.page_mainWrap__G2_gf {
 padding: 16px;
}

.page_homeWrap___FmQb {
  max-width: 700px;
}


/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/Post/post.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.post_postWrap__OnDPo {
    background: var(--foreground-color);
    padding: 16px;
    margin-top: 16px;
}
.post_titleWrap__EFmP_ {
    display: flex;
}

.post_titleTextWrap__i3Vop {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}
.post_postTextWrap__z_nDd {
    display: flex;
    justify-content: flex-start;
    padding: 8px;
    background: var(--background-color);
    min-height: 78px;
    margin-top: 16px;
}
.post_postIcon__EFOUA {
    height: 44px;
    min-width: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--foreground-color);
    margin-right: 8px;
}
.post_commentWrap__j3z1w {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post_comments__Iu0m3 {
    display: flex;
    align-items: center;
}


/*!*************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/PrimaryButton/primarybutton.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************/
.primarybutton_buttonCss__fTOe6 {
    min-width: 143px;
    min-height: 43px;
    border-radius: 4px;
    background: #4A96FF;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
}
.primarybutton_fullWidth__YUplT {
    width: 100%;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/InputField/inputfield.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.inputfield_inputContainer__0bGRU {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  
  .inputfield_labelWrapper__9PViO {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .inputfield_label__cxjjS {
    color: var(--text-primary);
    font-size: 14px;
  }
  
  .inputfield_link__ulVhC {
    color: var(--text-primary);
    font-size: 14px;
    text-decoration: none;
  }
  
  .inputfield_inputWrapper__jo06R {
    position: relative;
  }
  
  .inputfield_input__dQk79 {
    background-color: var(--foreground-color);
    border: 1px solid var(--text-secondary);
    color: #e0e0e0;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    width: 100%;
    min-height: 43px;
  }
  
  .inputfield_input__dQk79::placeholder {
    color: var(--text-secondary);
  }
  
  .inputfield_toggle__Q4NYA {
    background: none;
    border: none;
    color: var(--text-secondary);
    font-size: 16px;
    position: absolute;
    right: 10px;
    margin-top: 10px;
    cursor: pointer;
    outline: none;
  }
  .inputfield_errorInfo__FxCxo {
    margin-top: 4px;
    font-size: 14px;
    font-weight: 500;
    color: red;
  }
/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/LoginForm/loginform.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/


.loginform_headerWrap__P_Hgg {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/Modal/modal.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.modal_modal__fxCNj {
    z-index: 1;
    background: var(--foreground-color);
    border-radius: 5px;
    position: relative;
    animation: modal_animate__D7QmQ 0.3s;
    padding: 32px;
    min-width: 35%;
    max-width: 40%;
    border: 1px solid var(--text-secondary);
}
.modal_closeModal__EmSb_ {
    position: absolute;
    top: 16px;
    right: 8px;
    padding: 8px 11px;
    background: #131319;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 32px;
    width: 32px;
    justify-content: center;
    align-items: center;
}
.modal_container__W1NFn {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(34, 33, 33, 0.7);
}

@keyframes modal_animate__D7QmQ {
    from {
        transform: scale(0.5);
    }

    to {
        transform: scale(1);
    }
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/RegisterForm/register.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.register_headerWrap__SIp_k {
    display: flex;
    flex-direction: column;
    align-items: center;
}
